// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#app {

    margin: 2% 20% 20% 20%;

}

.btn {
    margin-bottom: 30px;

}

.button-control {
    margin-top: 20px;
    margin-right: 30px;
}

.update-delete-group {
    display: flex;
    margin-bottom: -20px;
}

.news-title {
    margin-top: 10px;
}

#title {
    margin-bottom: 20px;
}

.image-upload {
    margin-top: 20px;
    display: grid;
}

a {
    color: #000;
}

a:hover {
    color: #000
}

.article-description p {
    margin-top: 15px;
    font-size: 20px;

}




